/*
Theme Name: Overlay
Theme URI: https://kairaweb.com/wordpress-theme/overlay/
Author: Kaira
Author URI: https://kairaweb.com/
Description: Overlay draws back the curtain on web development, giving everyone the ability to build their own beautiful website from scratch (with no coding knowledge needed). Whether you’re ready to expand your eCommerce store by integrating WooCommerce, or simply want a hassle-free tool to launch your blog or company website quickly, the Overlay theme is for you. With a focus on both beauty, simplicity and back-end functionality, Overlay’s core strengths lie in its ability to deliver advanced design solutions in an intuitive way that users of all experience levels can understand and implement. It's lightweight, fast, and incredibly customizable, empowering entrepreneurs and professionals alike with the ability to tweak and optimize everything from page layout options to more advanced customizations and spacing to full color settings. Want to be found by the right people, at the right time? We’ve got you — Overlay integrates with the top WordPress analytics plugins to bring customers to you with SEO-enhanced pages and content that plug into your social media pages effortlessly. Do we cater to the mobile workforce and on-the-go public? Sure! The Overlay theme is fully responsive across all devices, maintaining visual and operational integrity, whether people are viewing your website on a tablet, smartphone or desktop. To extend the theme even further, we’ve ensured that Overlay integrates with top WordPress plugins such as WooCommerce, Easy Digital Downloads, Elementor and other useful WordPress extensions. Ready to build your beautiful website? Head over here for more information and to download the Overlay theme: https://kairaweb.com/wordpress-theme/overlay/
Version: 1.1.41
Requires at least: 4.7
Tested up to: 5.6
Requires PHP: 7.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: overlay
Tags: blog, e-commerce, portfolio, grid-layout, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-logo, custom-menu, editor-style, featured-image-header, featured-images, flexible-header, footer-widgets, full-width-template, rtl-language-support, theme-options, threaded-comments, translation-ready, block-styles, wide-blocks

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Overlay is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin: 0 0 25px;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 20px;
	padding: 0 0 0 20px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 5px;
	margin-left: 20px;
    padding-left: 5px;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/* Heading Defaults
h1 - 2em
h2 - 1.5em
h3 - 1.17em
h4 - body size
h5 - 0.83em
h6 - 0.67em */

.heading-prop-1 h1 {
	font-size: 2em;
	margin: 0 0 0.67em;
}
.heading-prop-1 h2 {
	font-size: 1.5em;
}
.heading-prop-1 h3 {
	font-size: 1.17em;
}
.heading-prop-1 h4 {
	font-size: 1em;
}
.heading-prop-1 h5 {
	font-size: 0.83em;
}
.heading-prop-1 h6 {
	font-size: 0.67em;
}

.heading-prop-2 h1 {
	font-size: 2.4em;
}
.heading-prop-2 h2 {
	font-size: 2.1em;
}
.heading-prop-2 h3 {
	font-size: 1.9em;
}
.heading-prop-2 h4 {
	font-size: 1.4em;
}
.heading-prop-2 h5 {
	font-size: 1.1em;
}
.heading-prop-2 h6 {
	font-size: 0.9em;
}

.heading-prop-3 h1 {
	font-size: 3em;
}
.heading-prop-3 h2 {
	font-size: 2.7em;
}
.heading-prop-3 h3 {
	font-size: 2.2em;
}
.heading-prop-3 h4 {
	font-size: 1.8em;
}
.heading-prop-3 h5 {
	font-size: 1.4em;
}
.heading-prop-3 h6 {
	font-size: 1em;
}

.heading-prop-4 h1 {
	font-size: 3.8em;
}
.heading-prop-4 h2 {
	font-size: 3.3em;
}
.heading-prop-4 h3 {
	font-size: 2.7em;
}
.heading-prop-4 h4 {
	font-size: 2.1em;
}
.heading-prop-4 h5 {
	font-size: 1.8em;
}
.heading-prop-4 h6 {
	font-size: 1.4em;
}

h1, h2, h3 {
	margin: 0 0 0.67em;
}
h4 {
	margin: 0 0 0.87em;
}
h5, h6 {
	margin: 0 0 1.4em;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 2px rgba(0, 0, 0, 0.06);
	margin: 0;
	padding: 5px 10px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 8px 10px 9px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	border: 1px solid rgba(0, 0, 0, 0.55);
}

select {
	border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 8px 10px 9px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
}

textarea {
	width: 100%;
	min-height: 150px;
}

#comments .comment-form input.submit {
	display: inline-block;
	vertical-align: middle;
	background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 2px rgba(0, 0, 0, 0.06);
    padding: 10px 25px 12px;
    margin: 15px 0 0;
    font-size: 0.9em;
	font-weight: inherit;
	color: inherit;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #7999c1;
	text-decoration: none;
}

/* a:visited {
	color: #475fe4;
} */

a:hover, a:focus, a:active {
	color: #4373b0;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Main Navigation
--------------------------------------------------------------*/
.main-navigation {
	display: block;
}

.main-navigation ul {
	/* display: none; */
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-navigation ul ul {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	min-width: 200px;
	white-space: nowrap;
	text-align: left;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
}
.main-navigation ul ul li {
    width: 100%;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	padding: 12px 18px;
	color: inherit;
}
.main-navigation.overlay-nav-block a {
	padding: 12px 7px;
}
.main-navigation.overlay-nav-block ul ul a {
	padding: 12px 18px;
}

.menu-dropdown-btn {
	display: none;
}

.main-navigation.main-nav-full-width ul#overlay-main-menu,
.main-navigation.main-nav-full-width #overlay-main-menu > ul,
.main-navigation.main-nav-center {
	display: flex;
}
.main-navigation.main-nav-center.main-nav-full-width {
	display: block;
}
.main-navigation.main-nav-full-width ul#overlay-main-menu li,
.main-navigation.main-nav-full-width #overlay-main-menu > ul > li {
	float: none;
	flex-grow: 1;
	text-align: center;
}

/* Small menu. */
.menu-toggle {
	box-shadow: none;
	font-size: 16px;
}
.menu-toggle,
.main-navigation.toggled ul,
.main-menu-close {
	display: none;
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/* ---- Menu Switch Class ---- */
.main-navigation .nav-switch ul {
    left: auto;
    right: -999em;
}
.main-navigation li.nav-switch:hover > ul,
.main-navigation li.nav-switch.focus > ul {
    left: auto;
    right: 0;
    display: block;
}
.main-navigation li.nav-switch ul li:hover > ul,
.main-navigation li.nav-switch ul li.focus > ul {
    left: auto;
    right: 100%;
    display: block;
}
.main-navigation li.nav-sub-switch:hover > ul,
.main-navigation li.nav-sub-switch.focus > ul {
    left: auto;
    right: 100%;
    display: block;
}
.main-navigation li.nav-sub-switch-all:hover > ul,
.main-navigation li.nav-sub-switch-all.focus > ul,
.main-navigation li.nav-sub-switch-all ul li:hover > ul,
.main-navigation li.nav-sub-switch-all ul li.focus > ul {
    left: auto;
    right: 100%;
    display: block;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 13px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}
/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-bar:after,
.site-header:after,
.main-navigation ul:after,
.site-content:after,
.site-footer:after {
	display: block;
	content: '';
	clear: both;
}

/*--------------------------------------------------------------
# Widget Area
--------------------------------------------------------------*/
.widget-area .widget-title {
	font-size: 20px;
	margin: 0 0 10px;
	padding: 0;
	color: #404040;
}
.widget-area .widget {
    margin: 0 0 50px;
}
.widget-area .widget:last-child {
	margin: 0;
}
.widget-area .widget ul {
    margin: 0;
    padding: 0;
}
.widget-area .widget ul li {
    margin: 0 0 2px;
    padding: 0;
    list-style-type: none;
}
.widget-area .widget ul ul {
    padding: 0 0 0 15px;
    margin: 0 0 5px;
}

.widget select {
	max-width: 100%;
}

/* ---- Sticky Widget Area ---- */
body.enable-sticky-widgets .widget-area.widget-area-sticky {
	position: relative;
	align-self: stretch;
}
body.enable-sticky-widgets .sticky-widget-area.stuck {
    background-color: #FFF;
	position: fixed;
    top: 20px;
    z-index: 15;
}
body.enable-sticky-widgets.admin-bar .sticky-widget-area.stuck {
	top: 52px;
}
body.enable-sticky-widgets .sticky-surpassed {
    position: absolute !important;
    bottom: 0 !important;
}

/* ---- Floating Sidebar Control ---- */
.floating-sidebar-control {
	display: none;
}
.floating-sidebar-control {
    position: absolute;
    top: 2px;
    background-color: #CCC;
    box-shadow: none;
    color: #FFF;
    padding: 10px 12px;
    outline: none;
    cursor: pointer;
}
.floating-sidebar-control::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f067";
}
body.page-template-floating-right-sidebar .floating-sidebar-control,
body.page-template-floating-left-sidebar .floating-sidebar-control,
body.page-template-default.overlay-page-frs .floating-sidebar-control,
body.page-template-default.overlay-page-fls .floating-sidebar-control,

body.blog.overlay-blog-frs .floating-sidebar-control,
body.blog.overlay-blog-fls .floating-sidebar-control,
body.archive.overlay-blog-frs .floating-sidebar-control,
body.archive.overlay-blog-fls .floating-sidebar-control,
body.search-results.overlay-blog-search-frs .floating-sidebar-control,
body.search-results.overlay-blog-search-fls .floating-sidebar-control,
body.single-post.overlay-blog-post-frs .floating-sidebar-control,
body.single-post.overlay-blog-post-fls .floating-sidebar-control {
	display: block;
}
body.page-template-floating-right-sidebar .floating-sidebar-control,
body.page-template-default.overlay-page-frs .floating-sidebar-control,
body.blog.overlay-blog-frs .floating-sidebar-control,
body.archive.overlay-blog-frs .floating-sidebar-control,
body.search-results.overlay-blog-search-frs .floating-sidebar-control,
body.single-post.overlay-blog-post-frs .floating-sidebar-control {
	left: -38px;
	border-radius: 3px 0 0 3px;
}
body.page-template-floating-left-sidebar .floating-sidebar-control,
body.page-template-default.overlay-page-fls .floating-sidebar-control,
body.blog.overlay-blog-fls .floating-sidebar-control,
body.archive.overlay-blog-fls .floating-sidebar-control,
body.search-results.overlay-blog-search-fls .floating-sidebar-control,
body.single-post.overlay-blog-post-fls .floating-sidebar-control {
	right: -38px;
	border-radius: 0 3px 3px 0;
}

body.show-floating-sidebar .floating-sidebar-control::before,
body.show-floating-sidebar .floating-sidebar-control::before {
    content: "\f068";
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/* ---- Site Globals ---- */
.overlay-menu-rightside #page {
	position: relative;
	right: 0;

	-webkit-transition: right 0.4s ease 0s;
     -moz-transition: right 0.4s ease 0s;
      -ms-transition: right 0.4s ease 0s;
       -o-transition: right 0.4s ease 0s;
          transition: right 0.4s ease 0s;
}
.overlay-menu-leftside #page {
	position: relative;
	left: 0;

	-webkit-transition: left 0.4s ease 0s;
     -moz-transition: left 0.4s ease 0s;
      -ms-transition: left 0.4s ease 0s;
       -o-transition: left 0.4s ease 0s;
          transition: left 0.4s ease 0s;
}

.site-boxed {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	max-width: 1200px;
	margin: 0 auto;
}
.site-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

/* ---- Site Top Bar ---- */
.site-header .site-bar {
	font-size: 13px;
}
.site-bar .site-container {
    position: relative;
}
.site-bar a {
	color: inherit;
}
.site-bar-inner {
	padding: 5px 0;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 5;
}
.site-bar-left {
	flex: 1.8;
	display: flex;
    align-items: center;
}
.site-bar-right {
	justify-content: flex-end;
	flex: 1;
	display: flex;
    align-items: center;
}
.site-bar-text i {
    margin: 0 2px 0 0;
}

.site-topbar-switch .site-bar-left,
.site-bottombar-switch .site-bar-left {
	order: 2;
	justify-content: flex-end;
}
.site-topbar-switch .site-bar-right,
.site-bottombar-switch .site-bar-right {
	order: 1;
	justify-content: flex-start;
}

.site-bar .social-icon {
    font-size: 20px;
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
}

/* ---- Site Top Menu ---- */
.menu-top-bar-menu-container {
    display: inline-block;
}
#overlay-topbar-menu,
#overlay-bottombar-menu {
	margin: 0;
	padding: 0;
}
#overlay-topbar-menu li,
#overlay-bottombar-menu li {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#overlay-topbar-menu li a,
#overlay-bottombar-menu li a {
	display: block;
	padding: 3px 4px;
}
.site-footer #overlay-topbar-menu li a,
.site-footer #overlay-bottombar-menu li a {
	padding: 0 4px;
}

/* ---- Site Header ---- */
.site-header-inner {
	padding: 5px 0;
}

.site-title {
	margin: 0;
	padding: 0;
}
.site-description {
	margin: 0;
	padding: 0;
}
.site-logo-align {
	display: inline-block;
}
.site-logo-align-inner {
	display: flex;
	align-items: center;
}
.align-items-top .site-logo-align-inner {
	align-items: flex-start;
}
.align-items-middle .site-logo-align-inner {
	align-items: center;
}
.align-items-bottom .site-logo-align-inner {
	align-items: flex-end;
}
.site-branding .site-logo-align img {
	display: block;
	margin: 0 0 -6px;
}

/* ---- Site Search ---- */
button.header-search {
	background: none;
    box-shadow: none;
	border: 0;
	margin: 0;
    padding: 5px;
	font-size: inherit;
    cursor: pointer;
    color: inherit;
}
.overlay-topbar-one button.header-search,
.overlay-topbar-two button.header-search {
    font-size: 15px;
}

.overlay-search-slide .header-search-block {
    border: 1px solid rgba(0, 0, 0, 0.12);
	border-top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	position: absolute;
    bottom: 100px;
    right: 25px;
    padding: 12px;
	z-index: 3;
	width: 300px;
	
	-webkit-transition: bottom 0.3s ease 0s;
     -moz-transition: bottom 0.3s ease 0s;
      -ms-transition: bottom 0.3s ease 0s;
       -o-transition: bottom 0.3s ease 0s;
          transition: bottom 0.3s ease 0s;
}
.overlay-search-fade .header-search-block {
	border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	position: absolute;
    top: -100px;
	right: 25px;
	width: 240px;
    padding: 12px;
	opacity: 0;
	
	-webkit-transition: opacity 0.3s ease 0.2s;
     -moz-transition: opacity 0.3s ease 0.2s;
      -ms-transition: opacity 0.3s ease 0.2s;
       -o-transition: opacity 0.3s ease 0.2s;
          transition: opacity 0.3s ease 0.2s;
}

.overlay-search-always .header-search-block {
	margin: 0 0 0 12px;
	width: 160px;
}

.overlay-search-full .header-search-block,
.overlay-search-full-txt .header-search-block {
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
    position: fixed;
    top: -400px;
    left: 20%;
    width: 60%;
    padding: 25px;
	opacity: 0;
	z-index: 999;
	
	-webkit-transition: opacity 0.3s ease 0.2s;
     -moz-transition: opacity 0.3s ease 0.2s;
      -ms-transition: opacity 0.3s ease 0.2s;
       -o-transition: opacity 0.3s ease 0.2s;
          transition: opacity 0.3s ease 0.2s;
}
.overlay-search-full-txt .header-search-block {
	background: none !important;
	box-shadow: none;
}
.header-search-overlay {
    background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
    width: 1px;
    height: 1px;
    top: 0;
    right: 0;
	z-index: 998;
	opacity: 0;

	-webkit-transition: opacity 0.3s ease 0.2s;
     -moz-transition: opacity 0.3s ease 0.2s;
      -ms-transition: opacity 0.3s ease 0.2s;
       -o-transition: opacity 0.3s ease 0.2s;
          transition: opacity 0.3s ease 0.2s;
}
.header-search-block .search-field {
    font-size: 13px;
    margin: 0;
    padding: 5px 8px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 0;
    background-color: #FFF;
    width: 100%;
    font-weight: 200;
    outline: none;
    color: inherit;
    box-sizing: border-box;
}
.overlay-search-full .header-search-block .search-field {
    border-radius: 4px;
	font-size: 18px;
    padding: 10px 15px;
}
.overlay-search-full-txt .header-search-block .search-field {
	border: 0;
    background: none;
    color: #FFF;
    font-size: 5em;
}
.overlay-search-full-txt .header-search-block .search-field::placeholder {
	color: rgba(255, 255, 255, 0.75);
}
.header-search-block .search-submit {
    display: none;
}

.show-site-search .overlay-search-slide .header-search-block {
	bottom: -57px;
}
.show-site-search .overlay-search-fade .header-search-block {
	top: 80px;
	opacity: 1;
}
.show-site-search .overlay-search-full .header-search-block {
	top: 100px;
	opacity: 1;
}
.show-site-search .overlay-search-full-txt .header-search-block {
	top: 60px;
	opacity: 1;
}
.show-site-search .header-search-overlay {
	display: block;
	width: 100%;
    height: 100%;
	opacity: 1;
}
.site-bar-inner.site-bottombar-centerall,
.site-bottombar-centerall .site-bar-left,
.site-bottombar-centerall .site-bar-right {
	display: block;
}
.site-bottombar-centerall .site-bar-left > *,
.site-bottombar-centerall .site-bar-right > * {
	display: inline-block;
    margin: 0 6px;
}

.site-bar-center {
	flex: 1;
}
.site-bar-center .social-icon {
	margin: 0 6px;
}

.overlay-bottombar-one.site-bottombar-switch .site-bar-left {
	order: 1;
	justify-content: initial;
}
.overlay-bottombar-one.site-bottombar-switch .site-bar-center {
	order: 2;
}
.overlay-bottombar-one.site-bottombar-switch .site-bar-right {
	order: 3;
	justify-content: flex-end;
}

/* ---- Top Bar Spacing / RTL ---- */
.site-bar-left > a,
.site-bar-left > ul,
.site-bar-left > span,
.site-bar-left > div,
.site-bar-left > button,
.site-topbar-switch .site-bar-right > a,
.site-topbar-switch .site-bar-right > ul,
.site-topbar-switch .site-bar-right > span,
.site-topbar-switch .site-bar-right > div,
.site-topbar-switch .site-bar-right > button,
.site-bottombar-switch .site-bar-right > a,
.site-bottombar-switch .site-bar-right > ul,
.site-bottombar-switch .site-bar-right > span,
.site-bottombar-switch .site-bar-right > div,
.site-bottombar-switch .site-bar-right > button {
    margin: 0 12px 0 0;
}
.site-bar-right > a,
.site-bar-right > ul,
.site-bar-right > span,
.site-bar-right > div,
.site-bar-right > button,
.site-topbar-switch .site-bar-left > a,
.site-topbar-switch .site-bar-left > ul,
.site-topbar-switch .site-bar-left > span,
.site-topbar-switch .site-bar-left > div,
.site-topbar-switch .site-bar-left > button,
.site-bottombar-switch .site-bar-left > a,
.site-bottombar-switch .site-bar-left > ul,
.site-bottombar-switch .site-bar-left > span,
.site-bottombar-switch .site-bar-left > div,
.site-bottombar-switch .site-bar-left > button {
    margin: 0 0 0 12px;
}
.site-bar-left .no-margin {
	margin: 0;
}

/* ---- Site Content Elements - Content Area / Widget Area ---- */
.site-container.site-content {
	padding-top: 40px;
	padding-bottom: 40px;

}
.site-container.site-content .site-content-inner {
	display: flex;
	width: 100%;
	/* align-items: flex-start; */
}

.overlay-site-full-width-blocked.overlay-break-content .site-container.site-content .site-content-inner {
	align-items: flex-start;
}

/* ---- Custom Header ---- */
.custom-header-wrap {
	background-color: #f2f2f2;
}
.custom-header-wrap iframe,
.custom-header-wrap img,
.custom-header-wrap video {
	display: block;
	height: auto;
	max-width: 100%;
	width: 100%;
}

/* ---------------- Templates ---------------- */
/* ---- Default ---- */
.content-area {
	width: 75%;
}
.widget-area {
	width: 25%;
}

body.page-template-right-sidebar.overlay-break-content .content-area,
body.page-template-default.overlay-site-full-width-blocked.overlay-break-content.overlay-page-rs .content-area,
body.overlay-site-full-width-blocked.overlay-break-content.overlay-blog-rs .content-area,
body.overlay-site-full-width-blocked.overlay-break-content.overlay-blog-post-rs .content-area,
body.overlay-site-full-width-blocked.overlay-break-content.overlay-blog-search-rs .content-area {
	width: 72%;
	margin: 0 3% 0 0;
}
body.page-template-left-sidebar.overlay-break-content .content-area,
body.page-template-default.overlay-site-full-width-blocked.overlay-break-content.overlay-page-ls .content-area,
body.overlay-site-full-width-blocked.overlay-break-content.overlay-blog-ls .content-area,
body.overlay-site-full-width-blocked.overlay-break-content.overlay-blog-post-ls .content-area,
body.overlay-site-full-width-blocked.overlay-break-content.overlay-blog-search-ls .content-area {
	width: 72%;
	margin: 0 0 0 3%;
}

/* ---- Left Sidebar ---- */
body.page-template-left-sidebar .content-area,
body.page-template-default.overlay-page-ls .content-area,
body.overlay-blog-ls .content-area,
body.overlay-blog-post-ls .content-area,
body.overlay-blog-search-ls .content-area {
	order: 2;
}
body.page-template-left-sidebar .widget-area,
body.page-template-default.overlay-page-ls .widget-area,
body.overlay-blog-ls .widget-area,
body.overlay-blog-post-ls .widget-area,
body.overlay-blog-search-ls .widget-area {
	order: 1;
}

/* ---- Full Width ---- */
.content-area-full,
body.page-template-full-width .content-area,
body.page-template-floating-right-sidebar .content-area,
body.page-template-floating-left-sidebar .content-area {
	width: 100% !important;
	margin: 0;
}

/* ---- Floating Right Sidebar ---- */
body.page-template-floating-right-sidebar .widget-area,
body.page-template-default.overlay-page-frs .widget-area,
body.blog.overlay-blog-frs .widget-area,
body.archive.overlay-blog-frs .widget-area,
body.search-results.overlay-blog-search-frs .widget-area,
body.single-post.overlay-blog-post-frs .widget-area {
	position: fixed;
	width: 320px;
	top: 100px;
    bottom: 100px;
	right: -320px;
	z-index: 9;

	-webkit-transition: right 0.4s ease 0.14s;
     -moz-transition: right 0.4s ease 0.14s;
      -ms-transition: right 0.4s ease 0.14s;
       -o-transition: right 0.4s ease 0.14s;
          transition: right 0.4s ease 0.14s;
}

/* ---- Floating Left Sidebar ---- */
body.page-template-floating-left-sidebar .widget-area,
body.page-template-default.overlay-page-fls .widget-area,
body.blog.overlay-blog-fls .widget-area,
body.archive.overlay-blog-fls .widget-area,
body.search-results.overlay-blog-search-fls .widget-area,
body.single-post.overlay-blog-post-fls .widget-area {
	position: fixed;
	width: 320px;
	top: 100px;
    bottom: 100px;
	left: -320px;
	z-index: 9;

	-webkit-transition: left 0.4s ease 0.14s;
     -moz-transition: left 0.4s ease 0.14s;
      -ms-transition: left 0.4s ease 0.14s;
       -o-transition: left 0.4s ease 0.14s;
          transition: left 0.4s ease 0.14s;
}

body.page-template-floating-right-sidebar .widget-area .widget-area-inner,
body.page-template-default.overlay-page-frs .widget-area .widget-area-inner,
body.blog.overlay-blog-frs .widget-area .widget-area-inner,
body.archive.overlay-blog-frs .widget-area .widget-area-inner,
body.search-results.overlay-blog-search-frs .widget-area .widget-area-inner,
body.single-post.overlay-blog-post-frs .widget-area .widget-area-inner,
body.page-template-floating-left-sidebar .widget-area .widget-area-inner,
body.page-template-default.overlay-page-fls .widget-area .widget-area-inner,
body.blog.overlay-blog-fls .widget-area .widget-area-inner,
body.archive.overlay-blog-fls .widget-area .widget-area-inner,
body.search-results.overlay-blog-search-fls .widget-area .widget-area-inner,
body.single-post.overlay-blog-post-fls .widget-area .widget-area-inner {
    height: 100%;
    overflow-y: scroll;
}

body.page-template-floating-right-sidebar.show-floating-sidebar .site-content-inner .widget-area,
body.page-template-default.overlay-page-frs.show-floating-sidebar .site-content-inner .widget-area,
body.blog.overlay-blog-frs.show-floating-sidebar .site-content-inner .widget-area,
body.archive.overlay-blog-frs.show-floating-sidebar .site-content-inner .widget-area,
body.search-results.overlay-blog-search-frs.show-floating-sidebar .site-content-inner .widget-area,
body.single-post.overlay-blog-post-frs.show-floating-sidebar .site-content-inner .widget-area {
    right: 0;
}
body.page-template-floating-left-sidebar.show-floating-sidebar .site-content-inner .widget-area,
body.page-template-default.overlay-page-fls.show-floating-sidebar .site-content-inner .widget-area,
body.blog.overlay-blog-fls.show-floating-sidebar .site-content-inner .widget-area,
body.archive.overlay-blog-fls.show-floating-sidebar .site-content-inner .widget-area,
body.search-results.overlay-blog-search-fls.show-floating-sidebar .site-content-inner .widget-area,
body.single-post.overlay-blog-post-fls.show-floating-sidebar .site-content-inner .widget-area {
    left: 0;
}

/* ---------------- Padding ---------------- */
/* ---- Default ---- */
body.page-template-default.overlay-page-rs .content-area,

body.blog.overlay-blog-rs .content-area,
body.single.overlay-blog-post-rs .content-area,
body.archive.overlay-blog-rs .content-area,
body.search-results.overlay-blog-search-rs .content-area,

body.overlay-site-boxed .content-area,
body.overlay-site-full-width .content-area,
body.page-template-right-sidebar.overlay-site-full-width-blocked.overlay-joined-content .content-area {
	padding-right: 25px;
}
body.page-template-default.overlay-page-rs .widget-area,

body.blog.overlay-blog-rs .widget-area,
body.single.overlay-blog-post-rs .widget-area,
body.archive.overlay-blog-rs .widget-area,
body.search-results.overlay-blog-search-rs .widget-area,

body.overlay-site-boxed .widget-area,
body.overlay-site-full-width .widget-area,
body.page-template-right-sidebar.overlay-site-full-width-blocked.overlay-joined-content .widget-area {
	padding-left: 25px;
}

/* ---- Left Sidebar ---- */
body.page-template-default.overlay-page-ls .content-area,

body.blog.overlay-blog-ls .content-area,
body.single.overlay-blog-post-ls .content-area,
body.archive.overlay-blog-ls .content-area,
body.search-results.overlay-blog-search-ls .content-area,

body.page-template-left-sidebar .content-area,
body.overlay-blog-ls .content-area,
body.search-results.overlay-blog-search-ls .content-area,
body.overlay-blog-post-ls .content-area,
body.overlay-site-full-width-blocked.overlay-joined-content.overlay-page-ls .content-area {
	padding-right: 0;
	padding-left: 25px;
}
body.page-template-default.overlay-page-ls .widget-area,

body.blog.overlay-blog-ls .widget-area,
body.single.overlay-blog-post-ls .widget-area,
body.archive.overlay-blog-ls .widget-area,
body.search-results.overlay-blog-search-ls .widget-area,

body.page-template-left-sidebar .widget-area,
body.overlay-blog-ls .widget-area,
body.search-results.overlay-blog-search-ls .widget-area,
body.overlay-blog-post-ls .widget-area,
body.overlay-site-full-width-blocked.overlay-joined-content.overlay-page-ls .widget-area {
	padding-left: 0;
	padding-right: 25px;
}

/* ---- All Round Padding ---- */
body.page-template-floating-left-sidebar .widget-area,
body.page-template-floating-right-sidebar .widget-area,

body.page-template-default.overlay-page-frs .widget-area,
body.page-template-default.overlay-page-fls .widget-area,

body.blog.overlay-blog-frs .widget-area,
body.blog.overlay-blog-fls .widget-area,
body.single-post.overlay-blog-post-frs .widget-area,
body.single-post.overlay-blog-post-fls .widget-area,
body.archive.overlay-blog-frs .widget-area,
body.archive.overlay-blog-fls .widget-area,
body.search-results.overlay-blog-search-frs .widget-area,
body.search-results.overlay-blog-search-fls .widget-area,

body.overlay-site-full-width-blocked.overlay-joined-content .site-content-inner,

body.overlay-site-full-width-blocked.overlay-break-content .content-area,
body.overlay-site-full-width-blocked.overlay-break-content .widget-area,

body.overlay-site-full-width-blocked.overlay-break-content .widget-area.widgets-apart .widget,

body.overlay-site-full-width-blocked.overlay-joined-content.break-blog-blocks .site-content-inner .overlay-blog-left .post-inner .post-content,
body.overlay-site-full-width-blocked.overlay-joined-content.break-blog-blocks .site-content-inner .overlay-blog-right .post-inner .post-content,
body.overlay-site-full-width-blocked.overlay-joined-content.break-blog-blocks .site-content-inner .overlay-blog-alt .post-inner .post-content,
body.overlay-site-full-width-blocked.overlay-joined-content.break-blog-blocks .site-content-inner .overlay-blog-top .post-inner .post-content {
	padding: 25px;
}

/* ---- Full Width & Floating Sidebars ---- */
.site-content-inner .content-area.content-area-full,
body.page-template-full-width .content-area,
body.overlay-blog-fw .content-area,
body.overlay-blog-post-fw .content-area,
body.page-template-floating-right-sidebar .content-area,
body.page-template-floating-left-sidebar .content-area,
body.overlay-site-full-width-blocked.overlay-joined-content .content-area.content-area-full,
body.overlay-site-full-width-blocked.overlay-break-content .widget-area.widgets-apart,

body.overlay-site-full-width-blocked.overlay-joined-content.break-blog-blocks .site-content-inner,
body.overlay-site-full-width-blocked.overlay-joined-content.break-blog-blocks .site-content-inner article {
	padding: 0;
}

/* ---- Site Content Elements - Content Area / Widget Area END ---- */

.custom-header-wrap .site-container,
.custom-header-wrap .site-container-full {
	position: relative;
}

.overlay-banner-img {
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.overlay-banner-img img {
	display: block;
	width: 100%;
	height: auto;
}

/* ---- Title & Breadcrumbs ---- */
.overlay-pagetitle-default {
    box-shadow: 0 1px rgba(0, 0, 0, 0.08);
	display: flex;
    align-items: baseline;
    margin: 0 0 24px;
    padding: 0 0 20px;
}
.overlay-pagetitle-other {
    box-shadow: 0 1px rgba(0, 0, 0, 0.08);
	display: flex;
	flex-direction: column-reverse;
	margin: 0 0 24px;
    padding: 0 0 20px;
}
.overlay-pagetitle-banner {
	background-color: rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(255, 255, 255, 1) inset;
}
.overlay-pagetitle-banner .site-container {
	display: flex;
    align-items: baseline;
    padding: 15px 20px 15px;
}
.custom-header-pagetitle {
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 20px;
    right: 20px;
}
.custom-header-wrap .site-container-full .custom-header-pagetitle,
.overlay-banner-wrap .custom-header-pagetitle {
	left: 0;
    right: 0;
}
.overlay-pagetitle-cheader {
	width: 100%;
    text-align: center;
    color: #FFF;
}

.overlay-page-title .overlay-h-title {
	flex: 1;
	margin: 0;
	padding: 0;
	font-size: 34px;
}
.overlay-breadcrumbs {
	flex: 1;
	text-align: right;
	font-size: 0.8em;
	margin: 0 2px 0 0;
}
.overlay-pagetitle-other .overlay-breadcrumbs {
	margin: 0 0 10px;
	text-align: inherit;
}
.overlay-pagetitle-cheader .overlay-breadcrumbs {
	text-align: inherit;
	margin: 5px 0 0;
}
.overlay-pagetitle-cheader .overlay-breadcrumbs a {
	color: inherit;
	opacity: 0.8;
}
.overlay-pagetitle-default .overlay-breadcrumbs > span:last-child,
.overlay-pagetitle-banner .overlay-breadcrumbs > span:last-child {
	margin-right: 0 !important;
}
.overlay-pagetitle-other .overlay-breadcrumbs > span:first-child {
	margin-left: 0 !important;
}

body.overlay-noedit .edit-link {
	display: none !important;
}

/* ---- Site Footer ---- */
.site-footer .site-bar {
	font-size: 13px;
}
.site-bar .social-icon {
	font-size: 15px;
}
.site-footer-inner {
	padding: 45px 0;
}

.site-footer .widget-title {
	font-size: 20px;
    margin: 0 0 10px;
    padding: 0;
}

.site-footer-inner .widget ul {
    margin: 0;
    padding: 0;
}
.site-footer-inner .widget ul li {
    margin: 0 0 4px;
    padding: 0;
    display: block;
    float: none;
}

.overlay-bottombar-fullcart .site-header-cart .widget_shopping_cart {
	display: block;
}
.overlay-bottombar-nofullcart .site-header-cart .widget_shopping_cart {
	display: none !important;
}

/* ---- Side Social Icons ---- */
.overlay-side-social {
	position: fixed;
	top: 233px;
	right: 0;
	z-index: 996;
}
.overlay-side-social.overlay-icons-sideleft {
	right: auto;
	left: 0;
}
.overlay-side-social .social-icon {
	position: relative;
    background-color: #d4d4d4;
	display: block;
	margin: 0 0 2px;
	color: #FFF;
	
	-webkit-transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
       -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
}
.overlay-side-social.overlay-icons-sideright .social-icon {
	padding: 10px 19px 10px 15px;
	right: -4px;
}
.overlay-side-social.overlay-icons-sideleft .social-icon {
	padding: 10px 15px 10px 19px;
	left: -4px;
}
.overlay-side-social.overlay-icons-sideright .social-icon:hover {
	right: 0;
}
.overlay-side-social.overlay-icons-sideleft .social-icon:hover {
	left: 0;
}

.overlay-side-social.overlay-sideicons-scroll {
	position: absolute;
}

.overlay-side-social.overlay-icons-sideright.overlay-side-social-rounded .social-icon {
	border-radius: 8px 0 0 8px;
}
.overlay-side-social.overlay-icons-sideleft.overlay-side-social-rounded .social-icon {
	border-radius: 0 8px 8px 0;
}
.overlay-side-social.overlay-side-social-round .social-icon {
	border-radius: 50%;
    padding: 10px 15px;
	right: 2px;
}
.overlay-side-social.overlay-icons-sideleft.overlay-side-social-round .social-icon {
	left: 2px;
}
.overlay-side-social.overlay-icons-sideright.overlay-side-social-round .social-icon:hover {
	right: 6px;
}
.overlay-side-social.overlay-icons-sideleft.overlay-side-social-round .social-icon:hover {
	left: 6px;
}

/*--------------------------------------------------------------
## Blog Lists & Search Results
--------------------------------------------------------------*/
.overlay-list article.post,
.overlay-list article.page {
	margin: 0 0 25px;
	padding: 0 0 25px;
}
.post-no-img {
	display: none;
}
.post-img a,
.post-img a img {
	display: block;
}
.post-content .entry-meta,
.post-content .entry-footer {
	font-size: 0.85em;
}
.post-content .entry-footer span {
	margin: 0 10px 0 0;
}
.post-content .entry-content {
	margin: 15px 0 0;
}
body.page .entry-content,
body.single-post .entry-content {
	margin: 0;
}
.overlay-list article .entry-title {
	font-size: 28px;
	margin: 0 0 22px;
	font-weight: 500;
}

.overlay-list.overlay-blog-left article.post .post-inner,
.overlay-list.overlay-blog-left article.page .post-inner,
.overlay-list.overlay-blog-right article.post .post-inner,
.overlay-list.overlay-blog-right article.page .post-inner,
.overlay-list.overlay-blog-alt article.post .post-inner,
.overlay-list.overlay-blog-alt article.page .post-inner {
	display: flex;
	align-items: flex-start;
}
.overlay-list.overlay-blog-left.overlay-blog-vcenter article.post .post-inner,
.overlay-list.overlay-blog-left.overlay-blog-vcenter article.page .post-inner,
.overlay-list.overlay-blog-right.overlay-blog-vcenter article.post .post-inner,
.overlay-list.overlay-blog-right.overlay-blog-vcenter article.page .post-inner,
.overlay-list.overlay-blog-alt.overlay-blog-vcenter article.post .post-inner,
.overlay-list.overlay-blog-alt.overlay-blog-vcenter article.page .post-inner {
	align-items: center;
}
.overlay-list.overlay-blog-left .post-img,
.overlay-list.overlay-blog-right .post-img,
.overlay-list.overlay-blog-alt .post-img {
	width: 30%;
}
.overlay-list.overlay-blog-left .post-content,
.overlay-list.overlay-blog-right .post-content,
.overlay-list.overlay-blog-alt .post-content {
	width: 70%;
}
.overlay-list .post-content.no-thumbnail {
	width: 100%;
}
.post-img.prop-img {
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.post-img.prop-img img,
.post-no-img img {
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
}
.post-inner.prop-img-round .post-img {
	border-radius: 50%;
}

/* ---- Left Layout ---- */
.overlay-list.overlay-blog-left .post-content {
	padding: 0 0 0 25px;
}

/* ---- Right Layout ---- */
.overlay-list.overlay-blog-right .post-img {
	order: 2;
}
.overlay-list.overlay-blog-right .post-content {
	order: 1;
	padding: 0 25px 0 0;
}

/* ---- Alternate Layout ---- */
.blog-alt-even .post-img {
	order: 2;
}
.blog-alt-even .post-content {
	order: 1;
	padding: 0 25px 0 0;
}
.overlay-blog-left .blog-alt-even .post-img {
	order: 1;
}
.blog-alt-odd .post-content {
	padding: 0 0 0 25px;
}

/* ---- No Img ---- */
.overlay-list.overlay-blog-left .post-content.no-thumbnail,
.overlay-list.overlay-blog-right .post-content.no-thumbnail,
.overlay-list.overlay-blog-alt .post-content.no-thumbnail {
	padding: 0;
}

/* ---- Top Layout ---- */
.overlay-list.overlay-blog-top .post-img {
	margin: 0 0 20px;
}
.overlay-list.overlay-blog-top.overlay-blog-top-center article,
.overlay-list.overlay-blog-grid.overlay-blog-top-center article,
.overlay-list.overlay-blog-tile.overlay-blog-top-center article {
	text-align: center;
}

/* ---- Grid Layout ---- */
.overlay-list.overlay-blog-grid.loading-blocks {
	background-image: url(images/loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.overlay-list.overlay-blog-grid.loading-blocks .overlay-list-inner {
	height: 400px !important;
	visibility: hidden;
}
.overlay-list.overlay-blog-grid .overlay-list-inner {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -8px;
}

.overlay-blog-grid article.blog-grid-block {
	box-shadow: none !important;
	padding: 0 8px !important;
	margin: 0 0 16px;
}
.overlay-blog-grid article.blog-grid-block .post-content {
	padding: 15px;
}

/* ---- Tile Layout ---- */
.overlay-blog-tile article.blog-grid-block {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08) !important;
	margin: 0;
	padding: 0;
	float: left;
}
.overlay-blog-tile article.blog-grid-block .post-inner {
	position: relative;
	overflow: hidden;
}
.overlay-blog-tile article.blog-grid-block .post-content {
	background-color: #FFF;
	position: absolute;
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	/* visibility: hidden; */

	-webkit-transition: all 0.6s ease 0s;
     -moz-transition: all 0.6s ease 0s;
      -ms-transition: all 0.6s ease 0s;
       -o-transition: all 0.6s ease 0s;
          transition: all 0.6s ease 0s;
}
.overlay-blog-tile article.blog-grid-block .post-content-inner {
	width: 100%;
	max-height: 100%;
	padding: 20px 40px;
}
.overlay-blog-tile article.blog-grid-block .post-content .entry-footer {
	margin-bottom: 25px;
}
.overlay-blog-tile .post-no-img {
	display: block;
}

/* -- Animations In -- */
.overlay-blog-tile article.blog-grid-block .post-content.overlay-tile-slide-bottom {
	left: 0;
	bottom: -110%;
}
.overlay-blog-tile article.blog-grid-block:hover .post-content.overlay-tile-slide-bottom {
	bottom: 0;
}
.overlay-blog-tile article.blog-grid-block .post-content.overlay-tile-slide-left {
	right: 100%;
    top: 0;
}
.overlay-blog-tile article.blog-grid-block:hover .post-content.overlay-tile-slide-left {
	right: 0;
}
.overlay-blog-tile article.blog-grid-block .post-content.overlay-tile-slide-right {
	left: 100%;
    top: 0;
}
.overlay-blog-tile article.blog-grid-block:hover .post-content.overlay-tile-slide-right {
	left: 0;
}
.overlay-blog-tile article.blog-grid-block .post-content.overlay-tile-fade {
	top: 0;
	left: 0;
	opacity: 0;
}
.overlay-blog-tile article.blog-grid-block:hover .post-content.overlay-tile-fade {
	opacity: 1;
}
.overlay-blog-tile article.blog-grid-block .post-content.overlay-tile-grow {
	top: 0;
	left: 0;
	opacity: 0;
	transform: scale(0.6);
}
.overlay-blog-tile article.blog-grid-block:hover .post-content.overlay-tile-grow {
	opacity: 1;
	transform: scale(1);
}
.overlay-blog-tile article.blog-grid-block .post-content.overlay-tile-grow-out {
	top: 0;
	left: 0;
	opacity: 0;
	transform: scale(1.4);
}
.overlay-blog-tile article.blog-grid-block:hover .post-content.overlay-tile-grow-out {
	opacity: 1;
	transform: scale(1);
}
/* -- Animations In -- */

.overlay-list.overlay-blog-tile.overlay-blog-top-center .entry-footer span {
	margin: 0 5px;
}
.overlay-list.overlay-blog-tile.overlay-blog-top-center .entry-footer span.comments-link {
	display: block;
}

/* ---- Columns ---- */
.overlay-list.overlay-grid-2 .overlay-list-inner > article.post,
.overlay-list.overlay-grid-2 .overlay-list-inner > article.page {
	width: 50%;
}
.overlay-list.overlay-grid-3 .overlay-list-inner > article.post,
.overlay-list.overlay-grid-3 .overlay-list-inner > article.page {
	width: 33.3333%;
}
.overlay-list.overlay-grid-4 .overlay-list-inner > article.post,
.overlay-list.overlay-grid-4 .overlay-list-inner > article.page {
	width: 25%;
}
.overlay-list.overlay-grid-5 .overlay-list-inner > article.post,
.overlay-list.overlay-grid-5 .overlay-list-inner > article.page {
	width: 20%;
}

/* -- Round -- */
.overlay-blog-grid.posts-round .has-post-thumbnail .post-inner,
.overlay-blog-top.posts-round .has-post-thumbnail .post-inner {
	padding-top: 20px;
}
.overlay-blog-grid.posts-round .post-img,
.overlay-blog-top.posts-round .post-img {
	margin: 0 20px;
}
.overlay-blog-tile.posts-round .post-inner,
.overlay-blog-tile.posts-round .post-inner .post-content,
.overlay-blog-left.posts-round .post-img,
.overlay-blog-right.posts-round .post-img,
.overlay-blog-alt.posts-round .post-img,
.overlay-blog-top.posts-round .post-img,
.overlay-blog-grid.posts-round .post-img {
	border-radius: 50%;
}
.overlay-blog-tile.posts-round .post-inner {
	margin: 0 10px 20px;
}
.overlay-blog-tile.posts-round .post-inner .post-content {
	text-align: center;
}
.overlay-blog-tile.posts-round .blog-grid-block {
	box-shadow: none !important;
}
.overlay-blog-tile.posts-round article.blog-grid-block .post-content-inner {
	padding: 40px;
}
.overlay-blog-tile.posts-round article.blog-grid-block .post-content .entry-footer {
	margin-bottom: 40px;
}
.overlay-site-full-width-blocked.break-blog-blocks .overlay-blog-left.posts-round .has-post-thumbnail .post-inner,
.overlay-site-full-width-blocked.break-blog-blocks .overlay-blog-right.posts-round .has-post-thumbnail .post-inner,
.overlay-site-full-width-blocked.break-blog-blocks .overlay-blog-alt.posts-round .has-post-thumbnail .post-inner {
	padding: 20px;
}
.overlay-blog-alt.posts-round article.blog-alt-odd.has-post-thumbnail .post-content,
.overlay-blog-right.posts-round .has-post-thumbnail .post-content {
	padding: 0 0 0 20px !important;
}
.overlay-blog-alt.posts-round article.blog-alt-even.has-post-thumbnail .post-content,
.overlay-blog-right.posts-round .has-post-thumbnail .post-content {
	padding: 0 20px 0 0 !important;
}

/* ---- Image Styles ---- */
/* -- black & White -- */
.overlay-list article .post-img.overlay-imgstyle-bw img,
.overlay-list article .post-img.overlay-imgstyle-bw {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	
	-webkit-transition: all 0.4s ease 0s;
     -moz-transition: all 0.4s ease 0s;
      -ms-transition: all 0.4s ease 0s;
       -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
}
.overlay-list article:hover .post-img.overlay-imgstyle-bw img,
.overlay-list article:hover .post-img.overlay-imgstyle-bw {
	filter: none;
    -webkit-filter: grayscale(0%);
}
/* -- Blur / GrayScale -- */
.overlay-list article .post-img.overlay-imgstyle-bg img,
.overlay-list article .post-img.overlay-imgstyle-bg {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);

	-webkit-transition: all 0.4s ease-in-out 0s;
     -moz-transition: all 0.4s ease-in-out 0s;
      -ms-transition: all 0.4s ease-in-out 0s;
       -o-transition: all 0.4s ease-in-out 0s;
          transition: all 0.4s ease-in-out 0s;
}
.overlay-list article:hover .post-img.overlay-imgstyle-bg img,
.overlay-list article:hover .post-img.overlay-imgstyle-bg {
	-webkit-filter: grayscale(100%) blur(1px);
	filter: grayscale(100%) blur(1px);
}
/* -- Flash -- */
.overlay-list article:hover .post-img.overlay-imgstyle-flash img,
.overlay-list article:hover .post-img.overlay-imgstyle-flash {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
/* -- Shine -- */
.overlay-list article .post-img.overlay-imgstyle-shine {
	position: relative;
	overflow: hidden;
}
.overlay-list article .post-img.overlay-imgstyle-shine::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.overlay-list article:hover .post-img.overlay-imgstyle-shine::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
/* -- Circle -- */
.overlay-list article .post-img.overlay-imgstyle-circle {
	position: relative;
	overflow: hidden;
}
.overlay-list article .post-img.overlay-imgstyle-circle::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.overlay-list article:hover .post-img.overlay-imgstyle-circle::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}

/* -- Remove Post Meta -- */
body.blog .entry-meta.overlay-blog-list-remdate .posted-on,
body.archive .entry-meta.overlay-blog-list-remdate .posted-on,
body.search .entry-meta.overlay-blog-list-remdate .posted-on,
body.blog .entry-meta.overlay-blog-list-remauth .byline,
body.archive .entry-meta.overlay-blog-list-remauth .byline,
body.search .entry-meta.overlay-blog-list-remauth .byline,
body.blog .entry-footer.overlay-blog-list-remcats .cat-links,
body.archive .entry-footer.overlay-blog-list-remcats .cat-links,
body.search .entry-footer.overlay-blog-list-remcats .cat-links,
body.blog .entry-footer.overlay-blog-list-remtags .tags-links,
body.archive .entry-footer.overlay-blog-list-remtags .tags-links,
body.search .entry-footer.overlay-blog-list-remtags .tags-links,
body.blog .entry-footer.overlay-blog-list-remcoms .comments-link,
body.archive .entry-footer.overlay-blog-list-remcoms .comments-link,
body.search .entry-footer.overlay-blog-list-remcoms .comments-link,

body.single-post .entry-meta.overlay-blog-post-remdate .posted-on,
body.single-post .entry-meta.overlay-blog-post-remauth .byline,
body.single-post .entry-footer.overlay-blog-post-remcats .cat-links,
body.single-post .entry-footer.overlay-blog-post-remtags .tags-links {
    display: none !important;
}

/*--------------------------------------------------------------
## Blog Single
--------------------------------------------------------------*/
.single-post .entry-meta {
	font-size: 0.85em;
	margin: 0 0 18px;
}
.single-post .entry-footer > span {
	margin: 0 12px 0 0;
	font-size: 0.85em;
}
.single-post .post-thumbnail {
	margin: 0 0 15px;
}
.navigation.post-navigation {
	margin-top: 40px;
	padding: 20px 0 0;
}
.overlay-postnav-barrows .navigation.post-navigation {
	box-shadow: none !important;
	margin: 0;
	padding: 0;
}
.overlay-postnav-barrows .post-navigation .nav-previous {
    position: fixed;
    display: flex;
    top: 50%;
    left: -210px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 250px;
    height: 80px;
    padding: 16px 10px;
    border-radius: 0 50px 50px 0;
    font-size: 28px;
    text-align: right;
    color: #FFF;
    -webkit-transition: all 0.4s ease 0s;
     -moz-transition: all 0.4s ease 0s;
      -ms-transition: all 0.4s ease 0s;
       -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
}
.overlay-postnav-barrows .post-navigation .nav-next {
    position: fixed;
    display: flex;
    top: 50%;
    right: -210px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 250px;
    height: 80px;
    padding: 16px 10px;
    border-radius: 50px 0 0 50px;
    font-size: 28px;
    text-align: left;
    color: #FFF;
    -webkit-transition: all 0.4s ease 0s;
     -moz-transition: all 0.4s ease 0s;
      -ms-transition: all 0.4s ease 0s;
       -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
}
.overlay-postnav-barrows .post-navigation .nav-previous:hover {
    left: 0;
}
.overlay-postnav-barrows .post-navigation .nav-next:hover {
    right: 0;
}
.overlay-postnav-barrows .post-navigation .nav-previous a,
.overlay-postnav-barrows .post-navigation .nav-next a {
	display: flex;
    font-size: 15px;
    align-self: center;
    width: 100%;
    padding: 0 35px 3px 0;
    color: #FFF;
}
.overlay-postnav-barrows .post-navigation .nav-next a {
    padding: 0 0 3px 35px;
}
.overlay-postnav-barrows .post-navigation .nav-previous a::before,
.overlay-postnav-barrows .post-navigation .nav-next a::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 18px;
    color: #FFF;
}
.overlay-postnav-barrows .post-navigation .nav-previous a::before {
    content: "\f060";
    right: 6px;
    top: 23px;
    font-size: 22px;
    align-self: center;
}
.overlay-postnav-barrows .post-navigation .nav-next a::before {
    content: "\f061";
	left: 6px;
    top: 23px;
    font-size: 22px;
    align-self: center;
}

/* ---- JetPack ---- */
#jp-relatedposts h3.jp-relatedposts-headline {
    display: block;
    font-size: 25px;
    width: 100%;
    text-align: center;
}
#jp-relatedposts h3.jp-relatedposts-headline em {
	font-weight: 400;
}
#jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title {
	font-size: 16px;
	line-height: 1.4;
	text-align: center;
}
/* ---- JetPack - Infinite Scroll - Button ---- */
body.infinite-scroll .overlay-list-inner {
    padding-bottom: 60px;
}
body.infinite-scroll .overlay-list-inner #infinite-handle,
body.infinite-scroll .overlay-list-inner .infinite-loader {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0 0 0 -50px;
}
body.infinite-scroll .overlay-list-inner #infinite-handle button {
    box-shadow: none;
}
body.infinite-scroll .overlay-list-inner .infinite-loader {
    margin: 0 0 0 -20px;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

article:last-child {
	box-shadow: none !important;
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comments-area {
	margin: 20px 0 0;
    padding: 20px 0 0;
}
#comments .comments-title {
	font-size: 1.4em;
}
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
article time.updated {
	display: none;
}
article time.entry-date.published {
	display: inline;
}

.author_bio_section{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.04);
	padding: 15px 20px;
	border: 1px solid rgba(0, 0, 0, 0.18);
	margin: 40px 0 15px;
}
.author_name{
	font-size:16px;
	font-weight: bold;
	text-transform: capitalize;
}
.author_details img {
	border: 1px solid rgba(0, 0, 0, 0.18);
	border-radius: 50%;
	float: left;
	margin: 0 15px 15px 0;
}

footer.comment-meta {
	position: relative;
}
.comment-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	clear: both;
}
.comment-list li {
	margin: 0;
	padding: 0 0 10px;
}
.comment-list > li,
.comment-list .children > li {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
	padding: 20px 0;
}
.comment-list li:last-child {
	box-shadow: none;
	padding-bottom: 0;
}
.comment-author {
	float: none;
	width: auto;
	margin-left: 55px;
}
.comment-author b.fn {
	display: block;
}
.comment-container {
	margin-left: 65px;
}
.comment-author .avatar {
	border: 2px solid #DCDCDC;
	position: absolute;
	left: 0;
}
.comment-meta cite {
	display: block;
	font-weight: 600;
}
.comment-content {
	margin: 0 0 0 55px;
}
.comment-metadata {
	font-style: italic;
	font-size: 0.75em;
	margin-left: 55px;
	padding: 0 0 4px;
}
.comment .reply {
	text-align: right;
	font-size: 0.8rem;
}
.comments-area label {
	float: left;
	min-width: 10.5%;
	padding: 6px 0 0;
}
.comments-area input[type="text"],
.comments-area input[type="email"],
.comments-area input[type="url"],
.comments-area input[type="password"],
.comments-area input[type="search"] {
	padding: 1%;
	width: 85%;
}
#comments ul {
	margin-left: 2em;
}
#comments li {
	list-style-type: none;
}
.post-password-required input {
	max-width: 280px;
	margin: 0 5px;
}
span.says {
	display: none;
}
.comment-form-cookies-consent input {
	display: inline-block;
	position: relative;
	top: -1px;
}
.comment-form-cookies-consent label {
	display: inline-block;
	float: none;
	margin: 0 0 0 10px;
}
.comment-awaiting-moderation {
	display: block;
    border-radius: 3px;
    font-size: 0.85em;
    margin: 4px 0 12px 55px;
    background-color: rgba(0, 0, 0, 0.06);
    padding: 10px;
    text-align: center;
}
.comment-respond {
	margin: 40px 0 0;
    padding: 20px 0 0;
}
.comment-respond .comment-reply-title {
	margin: 0;
    padding: 0 0 15px;
    font-size: 1.4em;
}

.overlay-comments-bubble #comments li {
	box-shadow: none;
    padding: 18px 0 0;
}
.overlay-comments-bubble #comments li .children {
	margin-bottom: 25px;
}
.overlay-comments-bubble #comments li article.comment-body {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12), 0 0 4px rgba(0, 0, 0, 0.3) !important;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    padding: 15px;
}
.overlay-comments-bubble footer.comment-meta {
	display: flex;
	align-items: baseline;
	margin: 0 0 10px;
}
.overlay-comments-bubble footer.comment-meta .comment-metadata {
	margin: 0;
	flex-grow: 1;
    text-align: right;
}

/* -- Error 404 Page -- */
.error-404 {
	text-align: center;
	padding: 20px 0 80px;
	display: flex;
    flex-direction: column;
}
.error-404 .page-title {
	margin: 0;
    padding: 20px 0 0;
    font-size: 2.2em;
    font-weight: 400;
}
.error-ban-sign .fa-ban {
	font-size: 182px;
	line-height: 1.4;
    opacity: 0.4;
}
.error-content {
	margin: 10px 0 20px;
}
.error-search {
	margin: 10px 0 10px;
}
.error-search form.search-form {
	display: inline-block;
	width: 380px;
}
.error-search form.search-form .search-field {
	width: 100%;
}
.error-search form.search-form .search-submit {
	display: none;
}
.error-btn {
	text-align: center;
	margin: 10px 0 20px;
}
.error-btn a {
	display: inline-block;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 2px rgba(0, 0, 0, 0.06);
    padding: 10px 25px 12px;
    margin: 15px 0 0;
    font-size: 0.9em;
    font-weight: inherit;
	color: inherit;
	-webkit-transition: all 0.2s ease 0s;
     -moz-transition: all 0.2s ease 0s;
      -ms-transition: all 0.2s ease 0s;
       -o-transition: all 0.2s ease 0s;
          transition: all 0.2s ease 0s;
}
.error-btn a:hover {
	color: #FFF;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
/* ---- Search ---- */
.widget.widget_search input[type="search"] {
	width: 100%;
    padding: 6px 10px;
    font-size: 14px;
}
.widget.widget_search input[type="submit"] {
	display: none;
}

/* ---- Footer Siteby ---- */
.overlay-siteby-icon {
	width: 24px;
    background-color: #f1f1f1;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.18), 0 0 3px rgba(0, 0, 0, 0.18);
    overflow: hidden;
    border-radius: 2px;
    position: fixed;
    bottom: 8px;
	right: 10px;
	margin: 0;
	padding: 0;
	font-size: 13px;
	text-align: center;
	z-index: 999;
	
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	
	-webkit-transition: all 0.2s ease 0s;
     -moz-transition: all 0.2s ease 0s;
      -ms-transition: all 0.2s ease 0s;
       -o-transition: all 0.2s ease 0s;
          transition: all 0.2s ease 0s;
}
.overlay-siteby-icon img {
	display: block;
	margin: 0;
}
.overlay-siteby-icon:hover {
	filter: none;
    -webkit-filter: grayscale(0%);
}
.overlay-siteby-plain {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08) inset;
    margin: 1px 0 0;
    padding: 5px 10px 8px;
    font-size: 11px;
	text-align: center;
	opacity: 0.7;
}

body.elementor-template-full-width .site-container.site-content .site-content-inner {
    display: block;
}

/* ---- Nav Span ---- */
.main-navigation.overlay-nav-block .nav-span-block {
	padding: 5px 12px;
    border-radius: 4px;
}

/* ---------------- Default Styles ---------------- */
/* ---- Box Shadow - Bottom---- */
.site-header .site-bar,
.site-header,
.overlay-list article.post,
.overlay-list article.page,
.overlay-banner-wrap {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
}
/* ---- Box Shadow - Top---- */
.main-navigation,
.post-navigation,
.comments-area,
.site-footer,
.site-footer .site-bar,
.comment-respond {
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08);
}
/* ---- Box Shadow - Right---- */
.content-area,
body.blog.overlay-blog-rs .content-area,
body.single.overlay-blog-post-rs .content-area,
body.archive.overlay-blog-rs .content-area,
body.search-results.overlay-blog-search-rs .content-area {
	box-shadow: 1px 0 0 rgba(0, 0, 0, 0.08);
}
/* ---- Box Shadow - Left---- */
body.page-template-left-sidebar .content-area,
body.page-template-default.overlay-page-ls .content-area,
body.blog.overlay-blog-ls .content-area,
body.single.overlay-blog-post-ls .content-area,
body.archive.overlay-blog-ls .content-area,
body.search-results.overlay-blog-search-ls .content-area {
	box-shadow: -1px 0 0 rgba(0, 0, 0, 0.08);
}
/* ---- Box Shadow - Single All Round---- */
.overlay-list.overlay-blog-grid article.post .post-inner,
.overlay-list.overlay-blog-grid article.page .post-inner {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
}

/* ---- Box Shadow - All Round---- */
body.overlay-site-full-width-blocked.overlay-joined-content .site-content-inner,

body.overlay-site-full-width-blocked.overlay-break-content .content-area,
body.overlay-site-full-width-blocked.overlay-break-content .widget-area,
body.overlay-site-full-width-blocked.overlay-break-content .widget-area.widgets-apart .widget,

body.page-template-default.overlay-page-frs .widget-area,
body.page-template-default.overlay-page-fls .widget-area,

body.blog.overlay-blog-frs .widget-area,
body.single.overlay-blog-post-frs .widget-area,
body.archive.overlay-blog-frs .widget-area,
body.search-results.overlay-blog-search-frs .widget-area,
body.blog.overlay-blog-fls .widget-area,
body.single.overlay-blog-post-fls .widget-area,
body.archive.overlay-blog-fls .widget-area,
body.search-results.overlay-blog-search-fls .widget-area,

body.page-template-floating-right-sidebar .widget-area,
body.page-template-floating-left-sidebar .widget-area,
body.overlay-site-full-width-blocked.overlay-joined-content.break-blog-blocks .site-content-inner article,
.overlay-blog-left.posts-round .post-img,
.overlay-blog-right.posts-round .post-img,
.overlay-blog-alt.posts-round .post-img,
.overlay-blog-top.posts-round .post-img,
.overlay-blog-grid.posts-round .post-img,
.overlay-blog-tile.posts-round .post-inner {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
}

/* ---- Box Shadow - None---- */
.site-content-inner .content-area.content-area-full,
body.page-template-floating-right-sidebar .content-area,
body.page-template-floating-left-sidebar .content-area,
body.overlay-site-boxed .site-content-inner.remove-line #primary.content-area,
body.overlay-site-full-width .site-content-inner.remove-line #primary.content-area,
.overlay-list.overlay-blog-grid article.post,
.overlay-list.overlay-blog-grid article.page {
	box-shadow: none;
}

/* ---- Background - White---- */
body.overlay-site-full-width,

body.overlay-site-full-width .site-header,
body.overlay-site-full-width .site-footer,
body.overlay-site-boxed .site-header,
body.overlay-site-boxed .site-footer,
body.overlay-site-boxed .site-boxed,

body.overlay-site-full-width-blocked .site-header,
body.overlay-site-full-width-blocked .site-footer,
body.overlay-site-full-width-blocked.overlay-joined-content .site-content-inner,

body.overlay-site-full-width-blocked.overlay-break-content .content-area,
body.overlay-site-full-width-blocked.overlay-break-content .widget-area,
body.overlay-site-full-width-blocked.overlay-break-content .widget-area.widgets-apart .widget,

body.page-template-floating-right-sidebar .widget-area,
body.page-template-floating-left-sidebar .widget-area,

body.page-template-default.overlay-page-frs .widget-area,
body.page-template-default.overlay-page-fls .widget-area,

body.blog.overlay-blog-frs .widget-area,
body.single.overlay-blog-post-frs .widget-area,
body.archive.overlay-blog-frs .widget-area,
body.search-results.overlay-blog-search-frs .widget-area,
body.blog.overlay-blog-fls .widget-area,
body.single.overlay-blog-post-fls .widget-area,
body.archive.overlay-blog-fls .widget-area,
body.search-results.overlay-blog-search-fls .widget-area,

.site-bar-inner,
.header-search-block,
.site-footer .site-bar,
.overlay-search-slide .header-search-block,
.overlay-search-full .header-search-block,
.main-navigation ul ul,
body #page .site-bar.stick-header.stuck .site-bar-inner,

body.overlay-site-full-width-blocked.overlay-joined-content.break-blog-blocks .site-content-inner .post-inner {
	background-color: #FFF;
}
body.overlay-site-full-width-blocked.overlay-break-content .widget-area.widgets-apart,
body.overlay-site-full-width-blocked.overlay-joined-content.break-blog-blocks .site-content-inner {
	box-shadow: none;
	background-color: transparent;
}
/* ---- Background - Off White / Grey ---- */
body.overlay-site-boxed,
body.overlay-site-full-width-blocked {
	background-color: #f4f4f4;
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a:focus,
.main-navigation ul ul li.current-menu-item > a,
.main-navigation ul ul li.current_page_item > a,
.main-navigation ul ul li.current-menu-parent > a,
.main-navigation ul ul li.current_page_parent > a,
.main-navigation ul ul li.current-menu-ancestor > a,
.main-navigation ul ul li.current_page_ancestor > a,
.main-navigation.overlay-nav-solid ul a:hover,
.main-navigation.overlay-nav-solid ul > li > a:hover,
.main-navigation.overlay-nav-solid ul > li > a:focus,
.main-navigation.overlay-nav-solid ul > li.current-menu-item > a,
.main-navigation.overlay-nav-solid ul > li.current-menu-ancestor > a,
.main-navigation.overlay-nav-solid ul > li.current-menu-parent > a,
.main-navigation.overlay-nav-solid ul > li.current_page_parent > a,
.main-navigation.overlay-nav-solid ul > li.current_page_ancestor > a,
.main-navigation.overlay-nav-solid .current_page_item > a,
.main-navigation.overlay-nav-block ul > li > a:hover span.nav-span-block,
.main-navigation.overlay-nav-block ul > li > a:focus span.nav-span-block,
.main-navigation.overlay-nav-block ul > li.current-menu-item > a span.nav-span-block,
.main-navigation.overlay-nav-block ul > li.current-menu-ancestor > a span.nav-span-block,
.main-navigation.overlay-nav-block ul > li.current-menu-parent > a span.nav-span-block,
.main-navigation.overlay-nav-block ul > li.current_page_parent > a span.nav-span-block,
.main-navigation.overlay-nav-block ul > li.current_page_ancestor > a span.nav-span-block,
.main-navigation.overlay-nav-block .current_page_item > a span.nav-span-block {
	color: #FFF !important;
}

/* ---- Default Fonts ---- */
body {
	font-family: 'Open Sans', sans-serif;
}
.site-title,
h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
}

/* ---- Primary Color ---- */
.main-navigation.overlay-nav-plain ul > li > a:hover,
.main-navigation.overlay-nav-plain ul > li > a:focus,
.main-navigation.overlay-nav-plain ul > li.current-menu-item > a,
.main-navigation.overlay-nav-plain ul > li.current-menu-ancestor > a,
.main-navigation.overlay-nav-plain ul > li.current-menu-parent > a,
.main-navigation.overlay-nav-plain ul > li.current_page_parent > a,
.main-navigation.overlay-nav-plain ul > li.current_page_ancestor > a,
.main-navigation.overlay-nav-plain .current_page_item > a,
.main-navigation.overlay-nav-underline ul > li > a:hover,
.main-navigation.overlay-nav-underline ul > li > a:focus,
.main-navigation.overlay-nav-underline ul > li.current-menu-item > a,
.main-navigation.overlay-nav-underline ul > li.current-menu-ancestor > a,
.main-navigation.overlay-nav-underline ul > li.current-menu-parent > a,
.main-navigation.overlay-nav-underline ul > li.current_page_parent > a,
.main-navigation.overlay-nav-underline ul > li.current_page_ancestor > a,
.main-navigation.overlay-nav-underline .current_page_item > a,
.overlay-footer-social-two #overlay-bottombar-menu li a:hover,
.overlay-footer-social-two.footer-menu-vertical #overlay-bottombar-menu li a:hover {
	color: #7999c1;
}
/* .main-navigation ul ul a:hover { For Mobile Menu hover color
	color: #7999c1 !important;
} */

.main-navigation.overlay-nav-underline ul > li > a:hover,
.main-navigation.overlay-nav-underline ul > li > a:focus,
.main-navigation.overlay-nav-underline ul > li.current-menu-item > a,
.main-navigation.overlay-nav-underline ul > li.current-menu-ancestor > a,
.main-navigation.overlay-nav-underline ul > li.current-menu-parent > a,
.main-navigation.overlay-nav-underline ul > li.current_page_parent > a,
.main-navigation.overlay-nav-underline ul > li.current_page_ancestor > a,
.main-navigation.overlay-nav-underline .current_page_item > a {
	box-shadow: 0 -4px 0 #7999c1 inset;
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a:focus,
.main-navigation ul ul li.current-menu-item > a,
.main-navigation ul ul li.current_page_item > a,
.main-navigation ul ul li.current-menu-parent > a,
.main-navigation ul ul li.current_page_parent > a,
.main-navigation ul ul li.current-menu-ancestor > a,
.main-navigation ul ul li.current_page_ancestor > a,

.main-navigation.overlay-nav-solid a:hover,
.main-navigation.overlay-nav-solid ul > li > a:hover,
.main-navigation.overlay-nav-solid ul > li > a:focus,
.main-navigation.overlay-nav-solid ul > li.current-menu-item > a,
.main-navigation.overlay-nav-solid ul > li.current-menu-ancestor > a,
.main-navigation.overlay-nav-solid ul > li.current-menu-parent > a,
.main-navigation.overlay-nav-solid ul > li.current_page_parent > a,
.main-navigation.overlay-nav-solid ul > li.current_page_ancestor > a,
.main-navigation.overlay-nav-solid .current_page_item > a,

.main-navigation.overlay-nav-block ul > li > a:hover span.nav-span-block,
.main-navigation.overlay-nav-block ul > li > a:focus span.nav-span-block,
.main-navigation.overlay-nav-block ul > li.current-menu-item > a span.nav-span-block,
.main-navigation.overlay-nav-block ul > li.current-menu-ancestor > a span.nav-span-block,
.main-navigation.overlay-nav-block ul > li.current-menu-parent > a span.nav-span-block,
.main-navigation.overlay-nav-block ul > li.current_page_parent > a span.nav-span-block,
.main-navigation.overlay-nav-block ul > li.current_page_ancestor > a span.nav-span-block,
.main-navigation.overlay-nav-block .current_page_item > a span.nav-span-block,

.error-btn a:hover,
.overlay-side-social .social-icon,
#comments .comment-form input.submit:hover,
.overlay-footdivide-shortline .footer-custom-block::after,
.overlay-footdivide-shortline ul.site-footer-widgets > li::after {
	background-color: #7999c1;
}